@import '../../globalStyles.scss';

.playsquare {
	background-color: gray;
	height: 25px;
	width: 25px;
	display: table-cell;
	border: {
		width: 1px;
		style: solid;
		color: black;
		collapse: collapse;
	}
}

.I {
	background-color: $colorI;
	border-color: $colorIBorder;

}

.O {
	background-color: $colorO;
	border-color: $colorOBorder;

}
.T {
	background-color: $colorT;
	border-color: $colorTBorder;
}
.Z {
	background-color: $colorZ;
	border-color: $colorZBorder;
}
.S {
	background-color: $colorS;
	border-color: $colorSBorder;
}
.J {
	background-color: $colorJ;
	border-color: $colorJBorder;
}
.L {
	background-color: $colorL;
	border-color: $colorLBorder;
}