.fieldSquare {
	background-color: gray;
	height: 25px;
	width: 25px;
	display: table-cell;
	border: {
		width: 1px;
		style: solid;
		color: black;
		collapse: collapse;
	}
}
.fieldRow {
	display: table-row;
}

.playfield {
	border-collapse: collapse;
	display: table;

}