$colorI: #21F0ED;
$colorO: #EFF200;
$colorT: #9F00F1;
$colorZ: #F10001;
$colorS: #1EF000;
$colorJ: #0600DB;
$colorL: #ECA200;

$colorIBorder: #0a9492;
$colorOBorder: #787a00;
$colorTBorder: #47006b;
$colorZBorder: #7a0000;
$colorSBorder: #0e7a00;
$colorJBorder: #030066;
$colorLBorder: #755000;



